#canvas {
    border: 1px solid black;
}

#messages {
    border: 1px solid black;
    width: 200px;
    height: 600px;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

aside {
    position: absolute;
    top: 5px;
    left: 820px;
}
